set _cachyos_cfg /usr/share/cachyos-fish-config/cachyos-config.fish

if test -f $_cachyos_cfg
    # CachyOS: let the distro config handle starship, aliases, etc.
    source $_cachyos_cfg
else
    source ~/.config/fish/my-config.fish

    {{- if eq .chezmoi.os "linux" }}
    {{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    # WSL / standalone: full setup
    function starship_precmd --on-event fish_prompt
        printf "\033]9;12\007"
        if test -n "$PWD"
            printf "\033]9;9;\"%s\"\007" "$PWD"
        end
    end
    {{- end }}
    {{- end }}

    function starship_transient_prompt_func
        starship module character
    end

    starship init fish | source
    enable_transience

end

if command -q mise
    mise activate | source
end

zoxide init fish | source
fzf --fish | source

function fish_greeting
    fortune | pokesay -c small
end
