# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR fish_user_paths:{{ .chezmoi.homeDir }}/bin\x1e{{ .chezmoi.homeDir }}/\x2elocal/bin\x1e{{ .chezmoi.homeDir }}/\x2ecargo/bin
