[data]
email = {{ promptStringOnce . "email" "Email address" | quote }}
profile = {{ promptChoiceOnce . "profile" "Profile?" (list "personal" "work") | quote }}

[diff]
exclude = ["scripts"]

[status]
exclude = ["scripts"]

